@model ESSPMemberService.V_T_DIFFMEMBER

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>V_T_DIFFMEMBER</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATE_DIFF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATE_DIFF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VALUE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VALUE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOTES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOTES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_ISPAY_PRCENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_ISPAY_PRCENT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="F_CODE" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
