@model ESSPMemberService.Models.Tables.T_PAYMENT

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>T_PAYMENT_MAIN</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_COMPANY_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_COMPANY_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_ORDER_YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_ORDER_YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_MEMBER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_MEMBER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_TOTAL_VALUE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_TOTAL_VALUE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_REFERENCE_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_REFERENCE_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_PAYMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_PAYMENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_HAFZA_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_HAFZA_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_HAFZA_YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_HAFZA_YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_ID)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_BANK_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_BANK_NAME)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_CARD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_CARD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_ORDER_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_ORDER_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_PAY_FEES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_PAY_FEES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_POST_COST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_POST_COST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_PENALTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_PENALTY)
        </dd>
    </dl>
</div>

<div class="form-group">
    <img src="@Url.Action("GetImage", "PAYMENT_BANK", new { id = Model.F_ID })" alt="Payment Image" />
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.F_ORDER_NO">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
