@model IEnumerable<ESSPMemberService.Models.Tables.T_NEWS>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>الاخبار</h1>

<p>
    <a asp-action="Create"> اضافة جديد</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.F_TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_CONTENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_CREATED_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_ACTIVE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_CONTENT)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.F_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_CREATED_DATE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.F_ACTIVE)
                <input type="checkbox" class="form-check-input" disabled @(item.F_ACTIVE == 1 ? "checked" : "") />
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.F_ID">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.F_ID">تفاصيل</a>
               @*  | <a asp-action="Delete" asp-route-id="@item.F_ID">تغير الحالة</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
